@font-face {
    font-family: 'ffFont';
    src: url('./resources/finalf.woff') format('woff');
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bob-vertical {
    0%   { transform: translateY(0px);}
    50%  { transform: translateY(16px); }
    100% { transform: translateY(0px);}
}

@keyframes grow {
    from { 
        transform: scale(.4); 
        opacity: 0; 
    }
    to   { 
        transform: unset; 
        opacity: 1; 
    }
}

::selection {
    background: #9E9;
    color: white;
}
img {
    -webkit-user-drag: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 0.2em;
    padding-left: 0.2em;
}
strong[highlight]{
    background: rgba(0, 0, 0, 0.15);
    border-radius: .3em;
    padding: 0 .3em;
}
.pointer {
    width: 1em;
    height: 1em;
    background-image: url('./resources/pointer.png');
    background-size: contain;
    margin-right: 0.5em;
    display:inline-block;
    vertical-align: middle;
}

*[debug] {
    border: 1px solid green;
}

*[fadeIn] {
    animation: fade-in 3s ease-in-out;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background: url('./resources/header-bg.png');
    height: 50vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: -1;
}

#title {
    position: relative;
    user-select: none;
    width: 50vw;
    font-family: 'ffFont';
    height: 100%;
    background: white;
    margin: auto;
    filter:drop-shadow(0px 0px 50px black);
}

#title > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.outline {
    stroke:white;
    stroke-width: 0.5;
}

#arrow {
    position: absolute;
    top: calc(50vh - 70px);
    left: 50%;
    transform: translateX(-50%);
    filter: 
        drop-shadow(0px 0px 1px white) 
        drop-shadow(0px 0px 1px white) 
        drop-shadow(0px 0px 1px white);
}
#arrow > div {
    animation: bob-vertical 1s ease-in-out infinite;
}
#arrow > div > i {
    position: absolute;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 10px;
    transform: rotate(45deg);
    width: 0;
}

#content {
    border-top: 1em solid #2B4120;
    margin-top: 50vh;
    width: 100%;
    padding: 2em 0;
    background-color: #1e1e1e;
    background-image: url('./resources/body-bg.png');
    background-size: 5em;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.section { 
    width: 50%;
}

.dialog-outer {
    animation: grow .4s;
    transform-origin: top;
}

p ~ ul {
    margin-top: .5em !important;
}

.imageContainer {
    z-index: 50;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 1em;
}

.imageContainer > div > img {
    height: 12em;
    border-radius: 1em;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}
.imageContainer > div > img:hover {
    opacity: 1;
}

*[nodisplay] {
    display: none !important;
}

#imageModal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000cc;
    top: 0;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(5px);
}
#imageModal > .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5em;
    width: 1em;
    height: 1em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
#imageModal > .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
#imageModal .modal-content {
    width: 100%;
    height: auto;
    user-select: none;
    border-radius: 1em;
}
#imageModal .caption {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
    margin-top: .2em;
}

.userList {
    display: flex;
    gap: 4em;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.userList > div > img {
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

.userList > div > div {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.discord {
    font-size: 1.5em !important;
    background: #202225;
    color: white;
    border-radius: 8px; 
    width: fit-content;
    padding: .3em .6em;
    margin: auto;
}
.discord > div {
    width: 1.5em;
    height: 1.5em;
    background-image: url("./resources/discord.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

#footer {
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 40px #000000;
    padding: .5em 1em;
    color: #A7A7A7;
    background: #161616;
    text-align: center;
}
#footer > a {
    color: #060;
    text-decoration: none;
}
#footer > a:hover {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    #title {
        width: 100vw;
    }

    #content {
        font-size: 0.6em;
    }

    .section {
        width: calc(100% - 5em);
    }

    #imageModal .wrapper {
        width: 90%;
    }
    #imageModal .caption {
        font-size: 2.5em;
    }
    .imageContainer {
        text-align: center;
        position: relative;
        z-index: 10;
    }
    .imageContainer > div >  img {
        margin: 0;
        opacity: 1;
        height: auto;
        position: relative;
        width: 100%;
    }

    .imageContainer > div {
        position: relative;
        width: 40%;
        margin-bottom: 1em;
    }
    .imageContainer > div:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: white;
        left: 0;
        border-radius: 1em;
        opacity: 0.3;
        pointer-events: none;
        transition: 0.2s;
    }
    .imageContainer > div:hover:after {
        opacity: 0;
    }
    .userList {
        gap: 1em;
    }
    .userList img {
        width: 15em !important;
        height: 15em !important;
    }
    #footer {
        font-size: .8em;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #00AA00AA;
}